odoo-addon-stock_route_mto  @ git+https://github.com/OCA/stock-logistics-warehouse.git@refs/pull/2624/head#subdirectory=stock_route_mto
odoo-addon-product_route_mto  @ git+https://github.com/OCA/product-attribute.git@refs/pull/2384/head#subdirectory=product_route_mto
